@model ASystem.Models.View.FlightScheduleViewModel.EditViewModel
@{
    ViewData["Title"] = "Edit";
    string controller = "FlightSchedule";
}
@section CSS {

    <link href="https://getbootstrap.com/docs/5.0/examples/features/features.css" rel="stylesheet">
}
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Edit</h2>
    <div class="g-4 py-5">
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" form method="post" asp-controller="@controller" asp-action="Edit">
                    <div class="row g-3">
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.FlightScheduleId" class="form-label"></label>
                            <input asp-for="Form.FlightScheduleId" class="form-control" readonly>
                            <span asp-validation-for="Form.FlightScheduleId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.AirplaneId" class="form-label"></label>
                            <select asp-for="Form.AirplaneId" asp-items="@Model.AirplaneEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.AirplaneId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.AirportIdOrigin" class="form-label"></label>
                            <select asp-for="Form.AirportIdOrigin" asp-items="@Model.AirportEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.AirportIdOrigin" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.AirportIdDestination" class="form-label"></label>
                            <select asp-for="Form.AirportIdDestination" asp-items="@Model.AirportEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.AirportIdDestination" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Type" class="form-label"></label>
                            <select asp-for="Form.Type" asp-items="@Model.TypeEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.Type" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DepartureTime" class="form-label"></label>
                            <input asp-for="Form.DepartureTime" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control">
                            <span asp-validation-for="Form.DepartureTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.ArriveTime" class="form-label"></label>
                            <input asp-for="Form.ArriveTime" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control">
                            <span asp-validation-for="Form.ArriveTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Status" class="form-label"></label>
                            <select asp-for="Form.Status" asp-items="@Model.StatusEnumerable" class="form-control"></select>
                            <span asp-validation-for="Form.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <a asp-controller="@controller" asp-action="List" class="w-100 btn btn-secondary btn-lg">Back</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>